/* INLINE STYLES
 *
 * The CSS in this file will be inlined by MJML into the HTML elements
 * themselves to ensure email rendering. Use it for styling basic HTML elements.
 *
 * Note that these styles will OVERRIDE any styles set within your MJML itself.
 *
 * Don't include anything that can't be inlined (like link-hover styles); for
 * those see `pseudo.scss`.
 *
 */

// Import Sass variables from Premail.
@import '~/sassImport.js';

// Note that MJML sets some values, like background color, directly on
// <mj-body> in index.hbs
.body {
  padding: map-get($page, 'verticalPadding') map-get($page, 'horizontalPadding');
}

@if map-get($page, 'center') {
  .body {
    margin: 0;
  }
} @else {
  .body {
    text-align: left;
  }
  .component-topNav,
  .component-banner,
  .component-salutation,
  .component-body,
  .component-signoff,
  .component-social,
  .component-bottomNav,
  .component-footer {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@if map-has-key($page, 'backgroundImage') {
  .body {
    background-image: url(map-get($page, 'backgroundImage'));
  }
}

h1 {
  @if map-has-key($html, 'h1Margin') {
    margin: map-get($html, 'h1Margin');
  }
  @if map-has-key($html, 'h1Padding') {
    padding: map-get($html, 'h1Padding');
  }
  @if map-has-key($html, 'h1BackgroundColor') {
    background-color: map-get($html, 'h1BackgroundColor');
  }
  @if map-has-key($html, 'h1BorderBottom') {
    border-bottom: map-get($html, 'h1BorderBottom');
  }
  @if map-has-key($html, 'h1FontColor') {
    color: map-get($html, 'h1FontColor');
  }
  @if map-has-key($html, 'h1FontSize') {
    font-size: map-get($html, 'h1FontSize');
  }
  @if map-has-key($html, 'h1FontWeight') {
    font-weight: map-get($html, 'h1FontWeight');
  }
  @if map-has-key($html, 'h1FontStyle') {
    font-style: map-get($html, 'h1FontStyle');
  }
  @if map-has-key($html, 'h1LineHeight') {
    line-height: map-get($html, 'h1LineHeight');
  }
}
h2 {
  @if map-has-key($html, 'h2Margin') {
    margin: map-get($html, 'h2Margin');
  }
  @if map-has-key($html, 'h2Padding') {
    padding: map-get($html, 'h2Padding');
  }
  @if map-has-key($html, 'h2BackgroundColor') {
    background-color: map-get($html, 'h2BackgroundColor');
  }
  @if map-has-key($html, 'h2BorderBottom') {
    border-bottom: map-get($html, 'h2BorderBottom');
  }
  @if map-has-key($html, 'h2FontColor') {
    color: map-get($html, 'h2FontColor');
  }
  @if map-has-key($html, 'h2FontSize') {
    font-size: map-get($html, 'h2FontSize');
  }
  @if map-has-key($html, 'h2FontWeight') {
    font-weight: map-get($html, 'h2FontWeight');
  }
  @if map-has-key($html, 'h2FontStyle') {
    font-style: map-get($html, 'h2FontStyle');
  }
  @if map-has-key($html, 'h2LineHeight') {
    line-height: map-get($html, 'h2LineHeight');
  }
}
h3 {
  @if map-has-key($html, 'h3Margin') {
    margin: map-get($html, 'h3Margin');
  }
  @if map-has-key($html, 'h3Padding') {
    padding: map-get($html, 'h3Padding');
  }
  @if map-has-key($html, 'h3BackgroundColor') {
    background-color: map-get($html, 'h3BackgroundColor');
  }
  @if map-has-key($html, 'h3BorderBottom') {
    border-bottom: map-get($html, 'h3BorderBottom');
  }
  @if map-has-key($html, 'h3FontColor') {
    color: map-get($html, 'h3FontColor');
  }
  @if map-has-key($html, 'h3FontSize') {
    font-size: map-get($html, 'h3FontSize');
  }
  @if map-has-key($html, 'h3FontWeight') {
    font-weight: map-get($html, 'h3FontWeight');
  }
  @if map-has-key($html, 'h3FontStyle') {
    font-style: map-get($html, 'h3FontStyle');
  }
  @if map-has-key($html, 'h3LineHeight') {
    line-height: map-get($html, 'h3LineHeight');
  }
}
h4 {
  @if map-has-key($html, 'h4Margin') {
    margin: map-get($html, 'h4Margin');
  }
  @if map-has-key($html, 'h4Padding') {
    padding: map-get($html, 'h4Padding');
  }
  @if map-has-key($html, 'h4BackgroundColor') {
    background-color: map-get($html, 'h4BackgroundColor');
  }
  @if map-has-key($html, 'h4BorderBottom') {
    border-bottom: map-get($html, 'h4BorderBottom');
  }
  @if map-has-key($html, 'h4FontColor') {
    color: map-get($html, 'h4FontColor');
  }
  @if map-has-key($html, 'h4FontSize') {
    font-size: map-get($html, 'h4FontSize');
  }
  @if map-has-key($html, 'h4FontWeight') {
    font-weight: map-get($html, 'h4FontWeight');
  }
  @if map-has-key($html, 'h4FontStyle') {
    font-style: map-get($html, 'h4FontStyle');
  }
  @if map-has-key($html, 'h4LineHeight') {
    line-height: map-get($html, 'h4LineHeight');
  }
}
p {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: map-get($text, 'size');
  @if map-has-key($text, 'verticalPadding') {
    margin-bottom: map-get($text, 'verticalPadding');
  }
  font-size: map-get($text, 'size');
  mso-line-height-rule: exactly;
  line-height: map-get($text, 'lineHeight');
}
a {
  font-weight: map-get($links, 'weight');
  text-decoration: map-get($links, 'decoration');
  color: map-get($colors, 'primary');
  @if map-has-key($links, 'color') {
    color: map-get($links, 'color');
  }
}

/* LIST COMPONENTS
 *
 * Rather than using <ul> and <li> elements, which render unpredictably in
 * email clients, use <mj-list> and <mj-li> elements, then style with the
 * classes below. For more information, see:
 * https://premail.dev/docs/components/mjml-bullet-list
 */

.list {
  padding-bottom: map-get($lists, 'listBottomPadding');
}

.list-item-wrap {
  margin-left: map-get($lists, 'leftPadding');
  font-size: map-get($text, 'size') !important;
  @if map-has-key($lists, 'fontSize') {
    font-size: map-get($lists, 'fontSize') !important;
  }
  mso-line-height-rule: exactly;
  line-height: map-get($text, 'lineHeight') !important;
  @if map-has-key($lists, 'lineHeight') {
    line-height: map-get($lists, 'lineHeight') !important;
  }
}

.list-item {
  margin-bottom: map-get($lists, 'listBottomPadding') !important;
  @if map-has-key($lists, 'itemBottomPadding') {
    margin-bottom: map-get($lists, 'itemBottomPadding') !important;
  }
}

.list-item__text {
}

/* SIGNOFF COMPONENT
 *
 * Styles applied when using the <mj-signoff> custom component. For more
 * information, see:
 * https://premail.dev/docs/components/mjml-signoff
 */

.signoff__text p {
  mso-line-height-rule: exactly;
  line-height: map-get($signoff, 'lineHeight');
}

.signoff__closing {
  @if map-has-key($signoff, 'closingBottomPadding') {
    margin-bottom: map-get($signoff, 'closingBottomPadding');
  }
}

.signoff__name {
  @if map-has-key($signoff, 'nameBottomPadding') {
    margin-bottom: map-get($signoff, 'nameBottomPadding');
  }
}

.signoff__title {
  @if map-has-key($signoff, 'titleBottomPadding') {
    margin-bottom: map-get($signoff, 'titleBottomPadding');
  }
}

.signoff__title2 {
  @if map-has-key($signoff, 'title2BottomPadding') {
    margin-bottom: map-get($signoff, 'title2BottomPadding');
  }
}

.signoff__title3 {
  @if map-has-key($signoff, 'title3BottomPadding') {
    margin-bottom: map-get($signoff, 'title3BottomPadding');
  }
}

.signoff__custom {
}

/* TYPOGRAPHIC ENHANCEMENT STYLES
 *
 * These styles will only be included and inlined if the corresponding
 * typographical enhancements are present in a given email and enabled in your
 * `premail.yaml` file. For more information, see:
 * https://github.com/davidmerfield/typeset#css
 */

@if map-get($typography, 'enableSmallCaps') {
  .small-caps {
    font-variant: small-caps;
    font-size: 95%; // Fallback when font-variant isn't processed.
  }
}

@if map-get($typography, 'opticallyAlignLetters') {
  .pull-T,
  .pull-V,
  .pull-W,
  .pull-Y {
    margin-left: -0.07em;
  }
  .push-T,
  .push-V,
  .push-W,
  .push-Y {
    margin-right: 0.07em;
  }
  .pull-O,
  .pull-C,
  .pull-o,
  .pull-c {
    margin-left: -0.04em;
  }
  .push-O,
  .push-C,
  .push-o,
  .push-c {
    margin-right: 0.04em;
  }
  .pull-A {
    margin-left: -0.03em;
  }
  .push-A {
    margin-right: 0.03em;
  }
}

@if map-get($typography, 'hangPunctuation') {
  .pull-single {
    margin-left: -0.27em;
  }
  .push-single {
    margin-right: 0.27em;
  }
  .pull-double,
  .push-double,
  .pull-single,
  .push-single {
    display: inline-block;
  }
  .pull-double {
    margin-left: -0.46em;
  }
  .push-double {
    margin-right: 0.46em;
  }
}
