<mj-signoff
  closing="Thank you,"
  name="John Q. Public"
  title="Wild and Crazy Guy"
  image-src="https://picsum.photos/75/100"
  image-width="75px"
  image-height="100px"
  image-alt=""
>
  <p><a href="https://example.com">Example, Inc.</a></p>
</mj-signoff>
