<!-- This file overrides the identical file in any design used to build this
     email. To use the design's footer instead, delete this file. -->
<mj-section>
  <mj-column>
    <mj-text mj-class="text text--footer"
      >This email was sent to you because we really like you! Not interested?
      <a href="#">Unsubscribe</a> or
      <a href="$[LI:UNSUBSCRIBE]$">manage your preferences</a>.</mj-text
    >
    <mj-text mj-class="text text--footer"
      ><a href="#">Friendly Co.</a>, 123 Main Street, Anywhere, US
      33333</mj-text
    >
  </mj-column>
</mj-section>
