<mj-section>
  <mj-column mj-class="column">
    <mj-text mj-class="text"
      ><p>
        <b>Morbi fermentum &#8212; est venenatis ex facilisis</b>, quis bibendum
        lacus faucibus. <a href="#">An inline link.</a></p
      >
      <p>Some emojis, to show that they're properly encoded: ✏ ❤ 👍🏽 💃🏽 🐿</p>
      <p
        ><em>Some emphasized text...</em> Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p
      >
    </mj-text>
  </mj-column>
</mj-section>
<mj-section>
  <mj-column mj-class="column">
    <mj-text mj-class="text">
      <h1>Lists</h1>
      <p
        >Examples of the custom "mj-list" and "mj-li" tags. Here is a list with
        an option set on the entire list:</p
      >
    </mj-text>
    <mj-list background-color="#ddd" border-top="18px #ddd solid">
      <mj-li>List item one.</mj-li>
      <mj-li>List item two.</mj-li>
      <mj-li>List item three.</mj-li>
      <mj-li>List item four.</mj-li>
    </mj-list>
    <mj-text mj-class="text"
      ><p>And here's a list with options set on individual list items:</p>
    </mj-text>
    <mj-list>
      <mj-li
        >List item one. Lorem ipsum dolor sit amet, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua.</mj-li
      >
      <mj-li color="blue"
        >List item two, customized color for the entire list item.</mj-li
      >
      <mj-li>List item three.</mj-li>
      <mj-li bullet="&#9829;" bullet-color="red" padding-left="40px"
        >List item four, customized bullet, bullet color and left padding. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </mj-li>
      <mj-li gutter="20px">List item five, custom gutter size.</mj-li>
      <mj-li>List item six.</mj-li>
      <mj-li text-color="green"
        >List item seven, customized text (only) color. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</mj-li
      >
    </mj-list>
  </mj-column>
</mj-section>
<mj-section
  ><mj-column>
    <mj-text mj-class="text">
      <h1>A headline "with a quote"</h1>
      <p>
        In at risus SEDA consectetur, fringilla nisl nec, consectetur mauris. Ut
        sed ultricies ante. Aliquam vestibulum pretium ligula sit amet pretium.
      </p>
      <h2>"A quoted subheading"</h2>
      <p>
        <i>Donec eu turpis nec erat auctor</i> euismod imperdiet vel urna.
        Suspendisse in urna iaculis, mattis metus luctus, egestas libero. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. Cras finibus arcu a sapien dictum mattis a et
        tellus.
      </p>
    </mj-text>
    <mj-button mj-class="button" css-class="button" href="#" title="Act now!"
      >Take action</mj-button
    ></mj-column
  >
</mj-section>
<mj-section>
  <mj-column mj-class="column column--50pc">
    <mj-text><h2>An illustrative picture</h2></mj-text>
    <mj-image
      mj-class="image image--50pc"
      src="https://picsum.photos/600/300"
      alt=""
      href="#"
    ></mj-image>
    <mj-button
      mj-class="button button--secondary"
      css-class="button button--secondary"
      href="#"
      title="Read more details"
      >Find out more</mj-button
    >
  </mj-column>
  <mj-column mj-class="column column--50pc">
    <mj-text mj-class="text">
      <p>
        Suspendisse lacinia, diam in malesuada fermentum, urna odio gravida
        tellus, a dictum mi lectus quis elit. In hac habitasse platea dictumst.
        Integer tempor lorem sit amet leo maximus feugiat. Vestibulum ante ipsum
        primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Maecenas posuere nunc in rhoncus pellentesque. Nulla quis aliquam quam,
        vel vestibulum ligula. Fusce fringilla, elit in aliquam pretium, sapien
        erat luctus sem, et finibus neque quam ut dolor. Aenean non dictum nibh.
      </p>
    </mj-text>
  </mj-column>
</mj-section>

<mj-section>
  <mj-column mj-class="column column--50pc">
    <mj-text mj-class="text">
      <p>
        Suspendisse lacinia, diam in malesuada fermentum, urna odio gravida
        tellus, a dictum mi lectus quis elit. In hac habitasse platea dictumst.
        Integer tempor lorem sit amet leo maximus feugiat. Vestibulum ante ipsum
        primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Maecenas posuere nunc in rhoncus pellentesque. Nulla quis aliquam quam,
        vel vestibulum ligula. Fusce fringilla, elit in aliquam pretium, sapien
        erat luctus sem, et finibus neque quam ut dolor. Aenean non dictum nibh.
      </p>
    </mj-text>
  </mj-column>
  <mj-column mj-class="column column--50pc">
    <mj-text><h2>An image worth 999 words</h2></mj-text>
    <mj-image
      mj-class="image image--50pc"
      src="https://picsum.photos/600/500"
      alt=""
      href="#"
    ></mj-image>
    <mj-button
      mj-class="button button--ghost"
      css-class="button button--ghost"
      href="#"
      title="We want to hear from you!"
      >Add your thoughts</mj-button
    >
  </mj-column>
</mj-section>
