<mj-signoff
  image-src="https://picsum.photos/75/100"
  image-width="75px"
  image-height="100px"
  image-alt=""
>
  <div class="signoff__closing">
    <p>Thank You,</p>
  </div>
  <div class="signoff__name">
    <p>John Q. Public</p>
    <p>Wild and Crazy Guy</p>
  </div>
</mj-signoff>
