/* INLINE STYLES
 *
 * The CSS in this file will be inlined by MJML into the HTML elements
 * themselves to ensure email rendering. Use it for styling basic HTML elements.
 * Don't include anything that can't be inlined (like link-hover styles).
 *
 */

// Import theme configuration values for use as Sass variables.
@import '~/theme.js';

.body {
  margin: 0;
  padding: 0 8px;
  background-color: white;
}
h1 {
  margin: 0;
  padding: 18px 0;
  font-size: 36px;
  line-height: 32px;
  font-weight: bold;
}
h2 {
  margin: 0;
  padding: 18px 0;
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
}
.mj-column-per-50 h2 {
  padding: 18px;
  align: center;
  vertical-align: middle;
}
p {
  margin: 0 0 18px;
}
.salutation p {
  margin: 0;
}
a {
  color: map-get($colors, 'primary');
  font-weight: bold;
  text-decoration: underline;
}

/* TYPOGRAPHIC ENHANCEMENT STYLES
 *
 * These styles will only be included and inlined if the corresponding
 * typographical enhancements are present in a given email and enabled in your
 * `config.yaml` file. For more information, see:
 * https://github.com/davidmerfield/typeset#css
 */

@if map-get($typography, 'enableSmallCaps') {
  .small-caps {
    font-variant: small-caps;
    font-size: 95%; // Fallback when font-variant isn't processed.
  }
}

@if map-get($typography, 'opticallyAlignLetters') {
  .pull-T,
  .pull-V,
  .pull-W,
  .pull-Y {
    margin-left: -0.07em;
  }
  .push-T,
  .push-V,
  .push-W,
  .push-Y {
    margin-right: 0.07em;
  }
  .pull-O,
  .pull-C,
  .pull-o,
  .pull-c {
    margin-left: -0.04em;
  }
  .push-O,
  .push-C,
  .push-o,
  .push-c {
    margin-right: 0.04em;
  }
  .pull-A {
    margin-left: -0.03em;
  }
  .push-A {
    margin-right: 0.03em;
  }
}

@if map-get($typography, 'hangPunctuation') {
  .pull-single {
    margin-left: -0.27em;
  }
  .push-single {
    margin-right: 0.27em;
  }
  .pull-double,
  .push-double,
  .pull-single,
  .push-single {
    display: inline-block;
  }
  .pull-double {
    margin-left: -0.46em;
  }
  .push-double {
    margin-right: 0.46em;
  }
}
